<!doctype html>
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{:http-equiv=>"x-ua-compatible", :content=>"ie=edge"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title
      = current_page.data.title || "Middleman"

    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css", :rel=>"stylesheet"}
    %link{:rel=> "stylesheet", :href=>"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css"}
    %script{:src=>"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"}
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    %div.container
      %h1
        Carissa Edgren
      %p Carissa@Edgren.nu
      +46 761 969689
      = yield
      = partial 'partials/footer'
      %script{:type=>"text/javascript", :src=>"https://code.jquery.com/jquery-2.1.1.min.js"}
      %script{:type=>"text/javascript", :src=>"js/materialize.min.js"}
