<!doctype html>
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{:http-equiv=>"x-ua-compatible", :content=>"ie=edge"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title
      = current_page.data.title || "Middleman"

    %link{:rel=>"stylesheet", :href=>"//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"}
    %link{:rel=>"stylesheet", :href=>"https://fonts.googleapis.com/css?family=Righteous"}
    %link{:rel=>"stylesheet", :href=>"https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"}
    %link{:rel=>"stylesheet", :href=>"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css"}
    %script{:src=>"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"}
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    %header
      = partial 'partials/side-bar'
    %main
      %h1
        Carissa Edgren
      %h5
        Junior Software Developer
      %p
        %i.devicon-ruby-plain
        Ruby |
        %i.devicon-html5-plain
        HTML5 |
        %i.devicon-javascript-plain
        JavaScript |
        %i.devicon-css3-plain
        CSS
      %p Carissa@Edgren.nu
      +46 761 969689
      .container
        = yield
      = partial 'partials/footer'
      %script{:type=>"text/javascript", :src=>"https://code.jquery.com/jquery-2.1.1.min.js"}
