%h1 Carissa Michelle Edgren

.cv
  - data.cv.each do |cv|
    %li
      .cv-text
        %b
          = cv[:title]
        %br
        = cv[:place]
        %br
        = cv[:location]
        %br
        = cv[:dates]

%h2 Education

.cv
  - data.education.each do |education|
    %li
      .education-text
        %b
          = education[:college]
        %br
        = education[:study]
        %br
        = education[:collegedates]
