.projects.row
  - data.projects.each do |project|
    .col.s4.project-presentation
      %h4
        %a{:href=> "#{project[:link]}", :target=>"_blank"}
          = project[:name]
      %img.project-image{:src=>"images/#{project[:image]}"}
      %p= project[:description]
      %a{:href=> "#{project[:gitlink]}", :target=>"_blank"}
        GitHub Link
